/*====================================================================
Info Details Page
====================================================================*/
.infoDetails {
  
  &__imgCont {
    margin: 0;
  }

  &__img {
    max-width: 100%;
  }

  &__content {
    margin: 0 auto;
    padding: 4rem 0 4.5rem;
    max-width: 900px;

    @include u-mqMax($windowSP) {
      padding: 3.4rem 1rem 5rem;
      max-width: 100%;
    }
  }

  &__contentTitle {
    margin: 2.4rem 0 0;
    text-align: center;
    font-size: 2rem;
  }

  &__contentText {
    margin-top: 2.4rem;
    font-size: 1.8rem;
    font-family: Helvetica Neue, Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    line-height: 1.75;
  }

  &__contentImgWrapper {
    margin: 7rem auto 0;
    max-width: 57.4rem;

    @include u-mqMax($windowSP) {
      margin-top: 1.5rem;
    }
  }

  &__contentImg {
    width: 100%;
  }
}