/*====================================================================
Notice List Page
====================================================================*/
.noticeList{

  &__imgCont {
    margin: 0;
  }

  &__img {
    max-width: 100%;
  }

  &__content {
    margin: 0 auto;
    padding: 4rem 0 6rem;
    max-width: 1000px;

    @include u-mqMax($windowSP) {
      padding: 3.4rem 1rem 7rem;
    }
  }

  &__noticeList {
    margin: 4rem auto 6rem;
    padding: 0;
    max-width: 744px;

    @include u-mqMax($windowSP) {
      padding: 3.4rem auto 6rem;
    }
  }

  &__noticeItem {
    padding: 1.6rem 0 .8rem;
    @include u-flex($ai:center);

    &:not(:first-child) {
      border-top: 1px solid $gray02;
    }

    @include u-mqMax($windowSP) {
      padding: .5rem 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__noticeItemLink {
    @include u-trs($duration:.3s);

    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }

  &__noticeItemDate,
  &__noticeItemTitle {
    font-size: 1.8rem;
    color: $black;
  }

  &__noticeItemDate {
    margin: 0 1.5rem 0 0;

    @include u-mqMax($windowSP) {
      color: $blue02;
    }
  }

  &__pagerList {
    padding: 0;
    list-style: none;
    @include u-flex($jc:center);
  }

  &__pagerItem {
    border: 1px solid $gray;
    width: 2.7rem;
    height: 3.7rem;
    @include u-flex($jc:center,$ai:center);

    &:not(:last-child) {
      margin-right: .3rem;
    }

    &.u-active {
      background-color: $gray;
      color: $white;
    }
  }

  &__pagerNum {
    font-size: 1.4rem;
    font-weight: 700;
  }

}