/*====================================================================
topPageKvSec
====================================================================*/

.topPageKvSec {
  padding-top: $headerHeightPC;
  // max-width: 1000px;

  @include u-mqMax($windowSP) {
    padding-top: 0;
    max-width: 100%;
  }

  &__imgCont {
    margin: 0;
  }

  &__img {
    max-width: 100%;
  }

  &__bottomArea {
    padding: 25px 0;

    @include u-mqMax($windowSP) {
      padding: 3rem 0;
    }
  }

  &__description {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
    line-height: 1.8;

    @include u-mqMax($windowSP) {
      font-size: 1.8rem;
    }
  }
}

/*====================================================================
topPageNotifSec
====================================================================*/

.topPageNotifSec {
  margin: 0 auto;
  padding: 20px 0;
  width: 685px;

  @include u-mqMax($windowSP) {
    padding: 0 1rem 3rem;
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    color: $blue02;
    line-height: 1.5;

    @include u-mqMax($windowSP) {
      margin-bottom: .8rem;
    }
  }

  &__noticeList {
    margin: 0 auto;
    padding: 0;

    @include u-mqMax($windowSP) {
      margin-bottom: 2.4rem;
    }
  }

  &__noticeItem {
    border-top: 1px solid $gray02;
    padding: 8px 0 16px;
    @include u-flex($ai:center);

    &:last-child {
      padding-bottom: 0;
    }

    @include u-mqMax($windowSP) {
      padding: .5rem 0;
    }
  }

  &__noticeLabel {
    border-radius: 4px;
    margin: 0 20px 0 0;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: $blue02;
    color: $white;

    @include u-mqMax($windowSP) {
      margin-right: 1.9rem;
      white-space: nowrap;
    }
  }

  &__noticeItemLink {
    @include u-flex($fd:column);
    @include u-trs($duration:.3s);

    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }

  &__noticeItemDate {
    font-size: 1.2rem;
    color: $gray;
    line-height: 1.75;
  }

  &__noticeItemTitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
  }

  &__btnCont {
    margin: 0 auto;
    text-align: center;

    @include u-mqMax($windowSP) {
      margin-bottom: 3rem;
    }
  }

  &__btnLink {
    border-bottom: 1px solid $black;
    margin-left: auto;
    padding-bottom: 5px;
    display: block;
    position: relative;
    top: -27px;
    width: 234px;
    font-size: 1.4rem;
    font-weight: 500;
    color: $black;
    @include u-trs($duration:.3s);

    &:hover {
      color: $black;
      opacity: .7;
      text-decoration: none;
    }

    @include u-mqMax($windowSP) {
      top: 0;
      width: 19rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 19px;
      width: 1px;
      height: 70%;
      background: #000;
      transform-origin: 100% 0;
      transform: skew(45deg);

      @include u-mqMax($windowSP) {
        right: 1.7rem;
      }
    }
  }

  &__downloadBtnCont {
    @include u-flex($jc:space-between);
    
    @include u-mqMax($windowSP) {
      padding: 0 1.4rem;
      flex-direction: column;
    }
  }

  &__downloadBtn {
    padding: 2rem 1rem;
    display: inline-block;
    position: relative;
    width: 327px;
    background-color: $blue03;
    @include u-flex();
    @include u-trs($duration:.3s);

    &:hover {
      opacity: .7;
      text-decoration: none;
    }

    @include u-mqMax($windowSP) {
      width: 100%;

      &:nth-child(1) {
        margin-bottom: .7rem;
      }
    }

    &::after {
      position: absolute;
      content: "〉";
      top: 54%;
      right: 28px;
      transform: translateY(-50%);
      font-size: 3rem;
      font-weight: 700;
      color: $black;

      @include u-mqMax($windowSP) {
        right: 1rem;
      }
    }
  }

  &__pdfIcon {
    margin-right: .8rem;
    max-width: 3.75rem;

    @include u-mqMax($windowSP) {
      width:3.75rem;
    }
  }

  &__downloadBtnText {
    font-weight: 700;
    color: $black;

    &.u-dlBtnTxt01 {
      font-size: 2rem;
    }

    &.u-dlBtnTxt02 {
      font-size: 1.6rem;
    }
  }

  &__bottomLogoCont {
    margin-top: 65px;
    text-align: center;
  }

  &__bottomLogo {
    max-width: 200px;
  }
}