
-
    let main_menu = [
        {title: "トップページ", slug: "top", link: ""},
        {title: "光徳院について", slug: "about", link: ""},
        {title: "境内案内", slug: "info", link: ""},
        {title: "墓地案内", slug: "guide", link: ""},
        {title: "アクセス", slug: "about", link: ""},
        {title: "お知らせ", slug: "notification", link: ""}
    ];

header.siteHeader
    .siteHeader__inner
        .siteHeader__logoArea
            a.siteHeader__logoLink(href=`${relativePath}`)
                img.siteHeader__logoImg.u-pcDb(src=`${relativePath}/_assets/images/common/logo.png` alt="logo")
                img.siteHeader__logoImg.js-headerLogo.u-spDb(src=`${relativePath}/_assets/images/common/logo-sp.png` alt="logo")
        nav.siteHeader__nav.js-nav(role='navigator')
            ul.siteHeader__navList: each item in main_menu
                li.siteHeader__navItem(class=(item.slug==currentPage ? "is-current" : ''))
                    a.siteHeader__navItemLink(href=`${relativePath}/`+`${item.link}`)= item.title
        .siteHeader__menuBtnCont.u-spDb
            .siteHeader__menuBtn.js-menuBtnBurger
                .siteHeader__menuBtnBurger.js-btnBurger
            .siteHeader__menuText.js-menuText menu