footer.siteFooter
    .siteFooter__inner
        .siteFooter__nav
            ul.siteFooter__navList
                li.siteFooter__navItem
                    a.siteFooter__navItemLink(href="")
                        figure.siteFooter__navImgCont
                            img.siteFooter__navImg.u-pcDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img01.png`, alt="")
                            img.siteFooter__navImg.u-spDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img01-sp.png`, alt="")
                            figcaption.siteFooter__navImgCaption 光徳院について
                            .siteFooter__navImgOverlay
                li.siteFooter__navItem
                    a.siteFooter__navItemLink(href="")
                        figure.siteFooter__navImgCont
                            img.siteFooter__navImg.u-pcDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img02.png`, alt="")
                            img.siteFooter__navImg.u-spDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img02-sp.png`, alt="")
                            figcaption.siteFooter__navImgCaption 境内案内
                            .siteFooter__navImgOverlay
                li.siteFooter__navItem
                    a.siteFooter__navItemLink(href="")
                        figure.siteFooter__navImgCont
                            img.siteFooter__navImg.u-pcDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img03.png`, alt="")
                            img.siteFooter__navImg.u-spDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img03-sp.png`, alt="")
                            figcaption.siteFooter__navImgCaption 墓地案内
                            .siteFooter__navImgOverlay
                li.siteFooter__navItem
                    a.siteFooter__navItemLink(href="")
                        figure.siteFooter__navImgCont
                            img.siteFooter__navImg.u-pcDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img04.png`, alt="")
                            img.siteFooter__navImg.u-spDb(src=`${relativePath}/_assets/images/topPage/footer_nav-img04-sp.png`, alt="")
                            figcaption.siteFooter__navImgCaption アクセス
                            .siteFooter__navImgOverlay
        .siteFooter__bottomArea
            .siteFooter__bottomAreaCont
                figure.siteFooter__bottomImgCont
                    img.siteFooter__bottomImg(src=`${relativePath}/_assets/images/topPage/footer_img.png`, alt="")
                .siteFooter__bottomText
                    .siteFooter__bottomText01 七星山
                        br
                        span.siteFooter__bottomText01.u-bigTxt 光徳院
                    .siteFooter__bottomText02 164-0002 
                        br.u-spDb
                        | 東京都中野区上高田5-18-3
                        br
                        | TEL：03−3386−5143
                        br
                        | FAX：03−3386−5371

        //- back to top
        .toTop.js-toTop

|
|

// Scripts
if isPolyfill
    script(src=`${relativePath}/_assets/lib/polyfill/smoothscroll.min.js`)
if isJquery
    script(src=`https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js`)
if isWowEffects
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js`)
if isSwiper
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.3/js/swiper.min.js`)
if isBootstrap
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")


//-  MAIN SCRIPT
script(src=`${relativePath}/_assets/js/bundle.js`)
//-  MAIN SCRIPT
