//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true


//- CONTENT DATA
-
    //- Accordions
    const accordions = [
        {
            title: 'Title 1',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 2',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 3',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
    ];

    //- KV Slider
    const kvSlider = [
        {
            image: 'topKVSlide_01.jpg',
            text: 'Slide 1'
        },
        {
            image: 'topKVSlide_02.jpg',
            text: 'Slide 2'
        },
        {
            image: 'topKVSlide_03.jpg',
            text: 'Slide 3'
        },
    ];

    //- Custom select
    const countries = [
        { name: 'Australia', value: '0'},
        { name: 'Philippines', value: '1'},
        { name: 'Japan', value: '2'},
        { name: 'Mexico', value: '3'},
    ];



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body.topPage#top
        //- HEADER
        include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.topPageKvSec
                .topPageKvSec__inner
                    .topPageKvSec__topArea
                        figure.topPageKvSec__imgCont
                            img.topPageKvSec__img(src=`${relativePath}/_assets/images/topPage/kv.png`, alt="kv image")
                    .topPageKvSec__bottomArea
                        p.topPageKvSec__description 光徳院は、御府内八十八カ所霊場の
                            br.u-spDb
                            | 第58番札所です。
                            br
                            | 平成7年に建立された五重塔は、
                            br
                            | 小さいながらも木像瓦葺きの
                            br.u-spDb
                            | 本格的造りのもので、
                            br
                            | 仏塔愛好家の方々に親しまれてします。

            section.topPageNotifSec
                .topPageNotifSec__inner
                    h2.topPageNotifSec__title お知らせ

                    ul.topPageNotifSec__noticeList
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年7月18日
                                span.topPageNotifSec__noticeItemTitle 法事(回忌法要）動画中継の開始
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年6月20日
                                span.topPageNotifSec__noticeItemTitle 今年度の盂蘭盆会に関しまして
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年5月20日
                                span.topPageNotifSec__noticeItemTitle 施餓鬼会を終えました
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年4月20日
                                span.topPageNotifSec__noticeItemTitle 一般墓地　B区画・C区画に空きがございます
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年4月10日
                                span.topPageNotifSec__noticeItemTitle 今年度の施餓鬼会に関しまして
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年4月2日
                                span.topPageNotifSec__noticeItemTitle 法事・葬儀に関しまして
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年3月30日
                                span.topPageNotifSec__noticeItemTitle 当山の新型コロナ感染対策
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年3月27日
                                span.topPageNotifSec__noticeItemTitle 花まつり中止のお知らせ
                    .topPageNotifSec__btnCont
                        a.topPageNotifSec__btnLink(href=`${relativePath}/notice-list`) お知らせ一覧はこちら

                    .topPageNotifSec__downloadBtnCont
                        a.topPageNotifSec__downloadBtn(href="")
                            img.topPageNotifSec__pdfIcon(src=`${relativePath}/_assets/images/topPage/pdf_icon.svg`, alt="pdf icon")
                            .topPageNotifSec__downloadBtnText
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt01 お塔婆の申込書
                                br
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt02 ダウンロードはこちら
                        a.topPageNotifSec__downloadBtn(href="")
                            img.topPageNotifSec__pdfIcon(src=`${relativePath}/_assets/images/topPage/pdf_icon.svg`, alt="pdf icon")
                            .topPageNotifSec__downloadBtnText
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt01 お施餓鬼お塔婆の申込書
                                br
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt02 ダウンロードはこちら

                    .topPageNotifSec__bottomLogoCont.u-pcDb
                        img.topPageNotifSec__bottomLogo(src=`${relativePath}/_assets/images/topPage/logo_bottom.png`, alt="pdf icon")

        //- FOOTER
        include ./_inc/_siteFooter.pug
