//- META INFORMATION
- const page_title = 'お知らせ一覧'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.noticeList
                .noticeList__inner
                    figure.noticeList__imgCont
                        img.noticeList__img.u-pcDb(src=`${relativePath}/_assets/images/noticeList/banner_bg.png`, alt="kv image")
                        img.noticeList__img.u-spDb(src=`${relativePath}/_assets/images/noticeList/banner_bg-sp.png`, alt="kv image")
                    .noticeList__content
                        h1.noticeList__title.textTitle お知らせ一覧
                        ul.noticeList__noticeList
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年7月18日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 法事(法事(回忌法要）動画中継の開始
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年6月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の盂蘭盆会に関しまして
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年5月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 施餓鬼会を終えました
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 一般墓地　B区画・C区画に空きがございます
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月10日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の施餓鬼会に関しまして
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年7月18日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 法事(法事(回忌法要）動画中継の開始
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年6月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の盂蘭盆会に関しまして
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年5月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 施餓鬼会を終えました
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 一般墓地　B区画・C区画に空きがございます
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月10日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の施餓鬼会に関しまして
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年7月18日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 法事(法事(回忌法要）動画中継の開始
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年6月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の盂蘭盆会に関しまして
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年5月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 施餓鬼会を終えました
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 一般墓地　B区画・C区画に空きがございます
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月10日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の施餓鬼会に関しまして
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月20日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 一般墓地　B区画・C区画に空きがございます
                            li.noticeList__noticeItem
                                p.noticeList__noticeItemDate 2020年4月10日
                                a.noticeList__noticeItemLink(href=`${relativePath}/information-details`)
                                    span.noticeList__noticeItemTitle 今年度の施餓鬼会に関しまして

                        .noticeList__pager 
                            ul.noticeList__pagerList
                                li.noticeList__pagerItem.u-active
                                    span.noticeList__pagerNum 1
                                li.noticeList__pagerItem
                                    span.noticeList__pagerNum 2
                                li.noticeList__pagerItem
                                    span.noticeList__pagerNum 3



        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |
