/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  margin: 0 auto;

  @include u-mqMax($windowSP) {
    width: 100%;
  }

  &__nav {
    margin: 0 auto;
    max-width: 100rem;
    background-color: $white;
  }

  &__navList {
    margin: 0;
    padding: 0;
    list-style: none;
    @include u-flex($jc:space-between);

    @include u-mqMax($windowSP) {
      flex-direction: column;
    }
  }

  &__navItem {
    overflow: hidden;
  }

  &__navItemLink  {
    @include u-trs($duration:.5s);

    &:hover .siteFooter__navImgOverlay,
    &:hover .siteFooter__navImgCaption {
      opacity: 0;
    }

    &:hover .siteFooter__navImg {
      transform: scale(1.3);
    }
  }

  &__navImgCont {
    margin: 0;
    width: 250px;
    position: relative;

    @include u-mqMax($windowSP) {
      width: 100%;
    }
  }

  &__navImg {
    width: 100%;
    @include u-trs($duration:.5s);
  }

  &__navImgCaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
    font-weight: 700;
    color: $white;
    z-index: 1;
  }

  &__navImgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #434343B3;
    @include u-trs($duration:.3s);
  }

  &__bottomArea {
    padding: 25px 0;
    position: relative;
    font-family: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;

    &::after {
      position: absolute;
      top: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(../images/topPage/footer_bg.png);
      -moz-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }
  }

  &__bottomAreaCont {
    @include u-flex($ai:center, $jc:center);

    @include u-mqMax($windowSP) {
      align-items: flex-end;
    }
  }

  &__bottomImgCont {
    margin: 0 15px 0 0;
    width: 73px;

    @include u-mqMax($windowSP) {
      margin-right: 2rem;
      margin-bottom: .5rem;
      width: 6.1rem;
    }
  }

  &__bottomImg {
    width: 100%;
  }

  &__bottomText01 {
    font-size: 2.3rem;
    font-weight: 700;
    color: $white;

    &.u-bigTxt {
      font-size: 4.5rem;
    }
  }

  &__bottomText02 {
    font-size: 1.8rem;
    line-height: 1.3;
    color: $white;
  }
}
