/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  // padding: 20px 0;
  background: $blue;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  height: $headerHeightPC;
  // width: 1000px;
  z-index: 100;

  @include u-mqMax($windowSP) {
    position: fixed;
    top: 0;
    width: 100%;
    height: $headerHeightSP;
  }

  .is_login_user & {
    top: $wpAdminBarPC;
  }
  // headerの上部固定の時に、ページごとにリピートされないように
  @include u-print {
    position: absolute;
  }

  &__inner {
    padding-top: 64px;
    margin: 0 auto;
    max-width: 100rem;

    @include u-mqMax($windowSP) {
      padding: 0 1.6rem;;
      height: 100%;
      @include u-flex($ai:center,$jc:space-between);
    }
  }

  &__logoArea {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    padding: 12.2px 8px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $white;

    @include u-mqMax($windowSP) {
      box-shadow: none;
      padding: 0;
      position: static;
      left: 0;
      transform: translateX(0);
      background: none;
    }
  }

  &__logoImg {
    max-width: 120px;
    opacity: 1;
    transition: all .5s ease-in-out; 

    @include u-mqMax($windowSP) {
      max-width: 16rem;
    }

    &.is-active {    
      @include u-mqMax($windowSP) {
        opacity: 0;
      }
    }
  }

  &__nav {
    @include u-mqMax($windowSP) {
      position: absolute;
      top: 7rem;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      background-color: $blue;
      transition: all .5s ease-in-out;
    }

    &.is-active {
      @include u-mqMax($windowSP) {
        height: 100vh;
      }
    }
  }

  &__navList {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;

    @include u-mqMax($windowSP) {
      padding: 0 1rem;
    }
  }

  &__navItem {
    border-right: 1px solid $white;
    display: inline-block;
    float: none;
    width: 18rem;
    max-width: 18rem;
    text-align: center;

    @include u-mqMax($windowSP) {
      border: none;
      border-bottom: .1rem solid $white;
      padding: 1.5rem 0;
      display: block;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }

    &:first-child,
    &:last-child {
      display: none;

      @include u-mqMax($windowSP) {
        display: block;
      }
    }

    &:nth-child(2) {
      border-left: 1px solid $white;
      float: left;

      @include u-mqMax($windowSP) {
        border-left: none;
        float: none;
      }
    }
    &:nth-child(3) {
      float: left;

      @include u-mqMax($windowSP) {
        float: none;
      }
    }

    &:nth-child(4) {
      border-left: 1px solid $white;

      @include u-mqMax($windowSP) {
        border-left: none;
      }
    }
  }

  &__navItemLink {
    font-size: 1.8rem;
    font-weight: 700;
    color: $white;
    line-height: 1;
    @include u-trs($duration:.3s);

    &:hover {
      color: $white;
      opacity: .7;
      text-decoration: none;
    }
  }

  &__menuBtnCont {
    right: 1.6rem;
  }

  &__menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 2.8rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  &__menuBtnBurger {
    width: 4.5rem;
    height: .2rem;
    background: #fff;
    transition: all .5s ease-in-out;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 4.5rem;
      height: .2rem;
      background: #fff;
      transition: all .5s ease-in-out;
    }

    &::before {
      transform: translateY(-1.2rem);
    }
    
    &::after {
      transform: translateY(1.2rem);
    }

    &.is-active {
      transform: translateY(1rem);
      background: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__menuText {
    margin-top: .8rem;
    font-size: 1.6rem;
    text-align: center;
    color: $white;
    line-height: .8;
    transition: all .5s ease-in-out;

    &.is-active {
      opacity: 0;
    }
  }
}
