.textTitle {
  border-bottom: .1rem solid $blue02;
  margin: 0 auto;
  padding-bottom: 1.85rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
  color: $blue02;

  @include u-mqMax($windowSP) {
    padding-bottom: 1.45rem;
    font-size: 2.4rem;
  }
}
  