//- META INFORMATION
- const page_title = 'お知らせ詳細'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.infoDetails
                .infoDetails__inner
                    figure.infoDetails__imgCont
                        img.infoDetails__img.u-pcDb(src=`${relativePath}/_assets/images/infoDetails/banner_bg.png`, alt="kv image")
                        img.infoDetails__img.u-spDb(src=`${relativePath}/_assets/images/infoDetails/banner_bg-sp.png`, alt="kv image")
                    .infoDetails__content
                        h1.infoDetails__title.textTitle 0000000のお知らせ
                        p.infoDetails__contentTitle タイトルタイトルタイトル
                            br 
                            | タイトルタイトル
                        p.infoDetails__contentText この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
                        figure.infoDetails__contentImgWrapper
                            img.infoDetails__contentImg(src=`${relativePath}/_assets/images/infoDetails/main_img.png`, alt="image")



        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |
