// color
$white: #fff;
$black: #222;
$lightGray: #efefef;
$darkGray: #212121;

$activeRed: #fb3e1d;

$blue: #387AB8;
$blue02: #00316A;
$blue03: #B9E6F8;
$lightBlue: #E4F4F7;
$gray: #737272;
$gray02: #707070;

// breakpoints
$contentCenter: 1000px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;

// header height
$headerHeightPC: 112px;
$headerHeightSP: 7.5rem;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
